html {
  scroll-behavior: smooth;
}

* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  font-family: "Readex Pro", sans-serif;
}

p > span {
  font-weight: bold;
}

h1 {
  text-align: center;
  font-size: 40px;
  color: #ffeff0;
}

header {
  background-image: url(assets/imgs/banner-bg.png);
  height: 660px;
}

header p {
  color: #ffeff0;
}

#header-subtitulo {
  font-size: 18px;
}

#nav-itens li {
  list-style-type: none;
}

#nav-itens a {
  font-size: 18px;
  text-decoration: none;
  color: #111111;
}

#nav-bar {
  background-color: rgba(255, 255, 255, 0.9);
  padding-left: 50px;
  padding-right: 50px;
  width: 1560px;
  height: 90px;
  border-radius: 100px;
}

#area-usuario a {
  font-size: 14px;
  text-decoration: none;
  color: #333333;
}

#botao-demonstracao {
  width: 200px;
  height: 45px;
  background-color: #d10010;
  border-radius: 100px;
  font-size: 14px;
  font-weight: bold;
  font-family: "Readex Pro", sans-serif;
  color: #ffffff;
  border: 0px;
}

.botao-consultor {
  background-color: #ffffff;
  /* width: 256px;
  height: 64px; */
  border-radius: 5px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "Readex Pro", sans-serif;
  font-weight: bold;
  color: #666666;
  font-size: 16px;
  border: none;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
  line-height: 34px;
}

#titulo-header-container {
  width: 966px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 76px;
}

footer {
  margin: 0px;
  height: 220px;
  background-image: url("assets/imgs/base-footer.png");
  background-color: rgba(27, 28, 29, 1);
  background-size: cover;
  background-blend-mode: multiply;
  color: #ffffff;

}

#logo-footer {
  /* padding-left: 230px; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 12px;
  line-height: 30px;
}

#imagem-logo-footer {
  padding-right: 14px;
}

#direitos-footer {
  padding-left: 14px;
}

#como-podemos-ajudar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: #ffffff;
  font-size: 18px;
  font-family: "Readex Pro", sans-serif;
}
#como-podemos-ajudar-container>p{
  font-weight: 600;
  line-height: 48px;
}
#como-podemos-ajudar-container>button{
  line-height: 26px;
  padding: 15px 20px;
  border-radius: 10px;
  border: 2px solid #ed3745;
  font-weight: bold;
  background-color: #ffffff00;
  color: #ffffff;
}

.card-footer2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 12px;
}

#imagem-video {
  width: 1214px;
  height: 600px;
  border-radius: 20px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: -100px;
}

#problemas-container {
  font-weight: 500px;
  font-size: 40px;
  color: #111111;
}

#transportadoras-container {
  margin-top: 28px;
  margin-bottom: 38px;
  color: #000000;
  font-size: 18px;
  font-weight: 400px;
}

.consequencias-container {
  width: 640px;
  height: 140px;
  background-color: #fff6f7;
}

.icone-item-problemas {
  color: #ffffff;
  font-size: 30px;
  line-height: 18px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.icone-container-problemas {
  width: 50px;
  height: 50px;
  background-color: #d10010;
  border-radius: 50%;
}

.icone-item-dificuldades {
  color: #ffffff;
  font-size: 20px;
  /* line-height: 18px; */
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.icone-container-dificuldades {
  width: 40px;
  height: 40px;
  background-color: #d10010;
  border-radius: 50%;
}

#dificuldades-titulo {
  font-size: 28px;
  font-weight: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 94px;
  margin-bottom: 40px;
}

.dificuldades-subtitulo {
  font-size: 18px;
  font-family: "Readex Pro", sans-serif;
  font-weight: 600;
  color: #333333;
}

.dificuldades-texto {
  font-size: 16px;
  font-weight: 400px;
}

.dificuldades-container {
  width: 1340px;
  height: 138px;
  border: 2px solid #ffeff0;
  border-radius: 10px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 239, 240, 0.2) 100%
  );
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  padding-left: 30px;
  padding-right: 30px;
  gap: 30px;
}

.dificuldade-container-conteudo {
  display: flex;
  flex-direction: column;
  width: 1210px;
  gap: 20px;
}

#robo-container  {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 80px ;
}

#raiz-problema-container {
  background-color: #F4F4F4;
  width: 100%;
  padding-top: 80px;
}

#raiz-problema-titulo {
  font-family: "Readex Pro", sans-serif;
  font-size: 28px;
  font-weight: 600;
  color: #111111;
  width: 600px;
}

#raiz-problema-conteudo  {
  width: 720px;
  padding: 0 60px;
}

.raiz-problema-conteudo-lista-item {
  width: 600px;
  height: 140px;
  background-color: #FFFFFF;
}

.diferenciais-container {
  background-color: #FFFFFF;
}

.diferenciais-box {
  margin-top: 80px;
  margin-bottom: 80px;
  width: 1460px;
  height: 792px;
}

#diferenciais-titulo{
  font-size: 18px; 
  color: #000000; 
  width: 1012px; 
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dispositivos-container {
  width: 600px; 
  height: 170px;
  border: 2px solid #ffeff0;
  border-radius: 10px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 239, 240, 0.2) 100%
  );
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  padding-left: 30px;
  padding-right: 30px;
  gap: 30px;
}

.icone-container-diferenciais{
  width: 50px;
  height: 50px;
  background-color: #d10010;
  border-radius: 50%;
}

.botao-demonstracao {
  background-color: #D10010;
  /* width: 256px;
  height: 64px; */
  border-radius: 5px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Readex Pro", sans-serif;
  font-weight: bold;
  color: #FFFFFF;
  font-size: 14px;
  border: none;
  line-height: 34px;
}

#patamar-container{
  width: 100%;
  height: 520px;
  background-image: url("assets/imgs/base-footer.png");
  background-color: rgba(27, 28, 29, 1);
  background-blend-mode: multiply;
  color: #ffffff;
}

#patamar-texto {
  width: 966px;
  height: 85px;
  margin-bottom: 90px;
}

.item-beneficios-container{
  width: 395px;
  height: 165px;
  border: 1px solid #D10010;
  border-radius: 15px;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 65px;
  padding-bottom: 40px;
  gap: 30px;
}

.icone-container-beneficios {
  width: 50px;
  height: 50px;
  background-color: #d10010;
  border-radius: 50%;
  /* display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%); */
}

#processo-container {
  width: 1460px;
  height: 855px;
}
#processo-titulo-container {
  width: 1340px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

#case-container-principal {
  width: 1920px;
  height: 723px;
  background-color: #F4F4F4;
}

#case-box  {
  padding-left: 60px;
  padding-right: 10px;
  padding-top: 80px;
  padding-bottom: 80px;

}

#case-texto {
  height: 278px;
}

.assista-case-box {
  width: 520px; 
  height: 130px;
  border: 2px;
  border-radius: 10px;
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  padding-left: 30px;
  padding-right: 30px;
  gap: 30px;
}


.form-container {
  background: #fff6f7;
  border: 2px;
  border-radius: 20px;
  padding: 30px;
  width: 1460px;
  height: 633px;
  /* width: 90%;
  max-width: 1000px; */
}

.form-control {
  width: 433px;
  height: 60px;
  border: 2px;
  border-radius: 5px;
}

.label-text {
  font-weight: bold; 
  font-size: 16px;
}

.btn-danger {
  border-radius: 10px;
  font-weight: bold;
}